<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chatsoone.rechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Re_Chat">

        <activity android:name=".ui.splash.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- chat -->
        <activity android:name=".ui.chat.ChatActivity" android:exported="false" />
        <activity android:name=".ui.chat.FolderContentActivity" android:exported="false" />

        <!-- explain -->
        <activity android:name=".ui.explain.ExplainActivity" android:exported="false" />

        <!-- main -->
        <activity android:name=".ui.main.MainActivity" android:exported="false" />

        <!-- pattern -->
        <activity android:name=".ui.pattern.CreatePatternActivity" android:exported="false" />
        <activity android:name=".ui.pattern.InputPatternActivity" android:exported="false" />

        <!-- permission -->
        <activity android:name=".ui.permission.PermissionActivity" android:exported="false" />

        <!-- setting -->
        <activity android:name=".ui.setting.PrivacyInfoActivity" android:exported="false" />

        <!-- NotificationListener 권한 얻기 -->
        <service android:name=".NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- sample id: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

    </application>

</manifest>

